<div>
    <form>
        <div class="mb-3">
          <label for="Startdate" class="form-label">Start Date</label>
          <input type="datetime" class="form-control" id="Startdate">
        </div>
        <div class="mb-3">
          <label for="Enddate" class="form-label">End Date</label>
          <input type="datetime" class="form-control" id="Enddate">
        </div>
        <div class="mb-3">
            <label for="DiscountPercent" class="form-label">Discount Percentage</label>
            <input type="number" class="form-control" id="DiscountPercent">
            <div>Please Enter The Discount Persentage Here ...</div>
          </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>

