<br>
<h3>Edit Product : </h3><br>
<div>
  <form #frm="ngForm" (ngSubmit)="editProduct()">
    <!-- <div class="form-group">
      <label for="prdID">ID : </label>
      <input type="number" [(ngModel)]="prd.ID" name="ID" required id="prdID" class="form-control" placeholder="" >
      <small id="helpId" class="text-muted">Enter ProductID</small><br>
    </div> -->
    <div class="form-group">
      <label for="prdName">Name : </label>
      <input type="text" #prdName="ngModel" [class.is-invalid]="prdName.invalid && prdName.touched" [class.is-valid]="prdName.valid"[(ngModel)]="prd.name" required minlength="3" name="Name" id="prdName" class="form-control" placeholder="" aria-describedby="helpId">
      <small [hidden]="prdName.valid || prdName.untouched" id="helpId" class="text-muted">Name must be more than 3 letters</small><br>
    </div>
    <div class="form-group">
      <label for="prdPrice">Price : </label>
      <input type="number" [(ngModel)]="prd.price" name="Price" required min="1" id="prdPrice" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Enter Product Price</small><br>
    </div>
    <div class="form-group">
      <label for="prdQuantity">Quantity : </label>
      <input type="number" [(ngModel)]="prd.quantity" name="Price" required min="1" id="prdQuantity" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Enter Product Quantity</small><br>
    </div>


    <div class="form-group">
      <label for="prdQuantity">Rate : </label>
      <input type="number" [(ngModel)]="prd.rate" name="Rate" required min="1" id="prdRate" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Enter Product Rate</small><br>
    </div>

    <div class="form-group">
      <label for="prdQuantity">Description : </label>
      <input type="text" [(ngModel)]="prd.description" name="Description" required min="1" id="prdDescription" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Enter Product Description</small><br>
    </div>


    <div class="form-group">
      <label for="prdcatID">CurrentCategoryID : </label>
      <input type="number" [(ngModel)]="prd.currentCategoryID" name="CurrentCategoryID" required min="1" id="prdcatID" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Enter Product CurrentCategoryID</small><br>
    </div>

    <div class="form-group">
      <label for="prdcatID">CurrentSupplierID : </label>
      <input type="number" [(ngModel)]="prd.currentSupplierID" name="CurrentSupplierID" required min="1" id="prdcatID" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Enter Product CurrentSupplierID</small><br>
    </div>
<br><br>
    <button type="submit" [disabled]="frm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>

<hr>
 {{prd | json}}
