
<!-- product -->
<!-- <div class="card d-inline-block m-4 shadow single-product" style="width: 18rem; border-radius: 15px;"  *ngFor="let p of indexProducts">
   
    <img style="width: 95%;height: 30vh; margin: 5px; border-radius: 15px;" src="{{p.image}}" class="card-img-top" alt="...">
    <div class="product-hover">
        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
        <a  class="view-details-link" (click)="getproductditails(p.id)"><i class="fa fa-link"></i> See details</a>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{p.name}}</h2>
      <h3>Price : {{p.price }}</h3>
        <div [ngSwitch]="p.rate">
          <div *ngSwitchCase="1">
            <span id="s1" class="s1 fa fa-star checked"></span>
            <span id="s2" class="s2 fa fa-star "></span>
            <span id="s3" class="s3 fa fa-star "></span>
            <span id="s4" class="s4 fa fa-star"></span>
            <span id="s5" class="s5 fa fa-star"></span>
          </div>
          <div *ngSwitchCase="2">
            <span id="s1" class="s1 fa fa-star checked"></span>
            <span id="s2" class="s2 fa fa-star checked"></span>
            <span id="s3" class="s3 fa fa-star "></span>
            <span id="s4" class="s4 fa fa-star"></span>
            <span id="s5" class="s5 fa fa-star"></span>
        </div>
        <div *ngSwitchCase="3">
            <span id="s1" class="s1 fa fa-star checked"></span>
            <span id="s2" class="s2 fa fa-star checked"></span>
            <span id="s3" class="s3 fa fa-star checked"></span>
            <span id="s4" class="s4 fa fa-star"></span>
            <span id="s5" class="s5 fa fa-star"></span>
        </div>
        <div *ngSwitchCase="4">
            <span id="s1" class="s1 fa fa-star checked"></span>
            <span id="s2" class="s2 fa fa-star checked"></span>
            <span id="s3" class="s3 fa fa-star checked"></span>
            <span id="s4" class="s4 fa fa-star checked"></span>
            <span id="s5" class="s5 fa fa-star"></span>
        </div>
        <div *ngSwitchCase="5">
            <span id="s1" class="s1 fa fa-star checked"></span>
            <span id="s2" class="s2 fa fa-star checked"></span>
            <span id="s3" class="s3 fa fa-star checked"></span>
            <span id="s4" class="s4 fa fa-star checked"></span>
            <span id="s5" class="s5 fa fa-star checked"></span>
        </div>
      </div>
    </div>
  </div> -->

