<div class="single-product-area">
    <div class="container">
        <div class="row m-4">
            <div class="col-md-12">
                <div class="product-content-right">


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <!-- <img src="{{product?.image}}" alt=""> -->
                                    <img src="assets/img/women-3.jpg">
                                </div>

                                <div class="product-gallery">
                                    <img src="img/product-thumb-1.jpg" alt="">
                                    <img src="img/product-thumb-2.jpg" alt="">
                                    <img src="img/product-thumb-3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name mb-4">{{product?.name}}</h2>
                                <div class="product-inner-price mb-4">
                                    <b>{{product?.price}}</b>
                                </div>

                                <div action="" class="cart mb-5">
                                    <div class="quantity">
                                        <button class="btn btn-primary" (click)="addcart(product)">Add to cart</button>
                                    </div>
                                </div>
                                <!-- style-binding -->
                                <button [style.background-color]="Details?'blue':'#008CBA'" class="btn btn-primary m-3"
                                    (click)="toggleDetailsFeedback()">Details</button>

                                <button [style.background-color]="Details?'#008CBA':'blue'" class="btn btn-primary"
                                    (click)="toggleDetailsFeedback()">Feedback</button>
                                <div *ngIf="Details">
                                    <h2>Product Description</h2>
                                    {{product?.description}}
                                </div>
                                <div *ngIf="Feedback">
                                    <p><label for="name">Name</label> <input class="form-control" name="name"
                                            type="text"></p>
                                    <p><label for="email">Email</label> <input class="form-control" name="email"
                                            type="email"></p>
                                    <div class="rating-chooser">
                                        <p>Your rating</p>

                                        <div class="rating-wrap-post">
                                            <!-- <span class="fa fa-star"  [class.checked]="isRated" (click)="ChangeRating()"></span>
                                                 <span class="fa fa-star"  [class.checked]="isRated" (click)="ChangeRating()"></span>
                                                 <span class="fa fa-star"></span>
                                                 <span class="fa fa-star"></span>
                                                 <span class="fa fa-star"></span> -->
                                        
                                        
                                        </div>
                                    </div>
                                    <p><label for="review">Your review</label> <textarea class="form-control"
                                            name="review" id="" cols="30" rows="10"></textarea></p>
                                    <p><input class="btn btn-primary" type="submit" value="Submit"></p>
                                </div>
                               
                            </div>
                        </div>


                    </div>
                </div>
            </div>



            <div class="related-products-wrapper">
                <h2 class="related-products-title">Some Review </h2>
            </div>
        </div>
    </div>
</div>