.checked {
    color: orange;
}

.row {
    margin: 20px;
}

.owl-item {
    margin: 25px;
}

.empty {
    margin-top: 0;
    width: 30%;
    margin-left: 33%;
}
.btn{
    width: 10%;
    margin-left: 45%;
}
