<div class="row">
    <div *ngIf="products.length !=0">
        <div class="owl-item col-lg-3 m-0 mb-3 col-md-6 col-sm-12" style="width: 20vw; border: 2px solid rgb(236, 226, 226); border-radius: 10px;"
            *ngFor="let p of products">
            <div class="product-item">
                <div class="pi-pic">
                    <img src="assets/img/women-3.jpg">
                    <a class="icon" (click)="delete(p)">
                        <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                            fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </a>
                    <ul>
                        <li class="w-icon active">
                            <a _ngcontent-npt-c17="" (click)="addcart(p)">
                                <i class="icon_bag_alt"></i>
                            </a>
                        </li>
                        <li class="quick-view">
                            <a (click)="getproductditails(p.id)" style="cursor: pointer;">+ Quick View</a>
                        </li>
                        <li class="w-icon">
                            <a _ngcontent-npt-c17="" href="#">
                                <i class="fa fa-random"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pi-text">
                    <div class="catagory-name" [ngSwitch]="p.rate">
                        <div *ngSwitchCase="1">
                            <span id="s1" class="s1 fa fa-star checked"></span>
                            <span id="s2" class="s2 fa fa-star "></span>
                            <span id="s3" class="s3 fa fa-star "></span>
                            <span id="s4" class="s4 fa fa-star"></span>
                            <span id="s5" class="s5 fa fa-star"></span>
                        </div>
                        <div *ngSwitchCase="2">
                            <span id="s1" class="s1 fa fa-star checked"></span>
                            <span id="s2" class="s2 fa fa-star checked"></span>
                            <span id="s3" class="s3 fa fa-star "></span>
                            <span id="s4" class="s4 fa fa-star"></span>
                            <span id="s5" class="s5 fa fa-star"></span>
                        </div>
                        <div *ngSwitchCase="3">
                            <span id="s1" class="s1 fa fa-star checked"></span>
                            <span id="s2" class="s2 fa fa-star checked"></span>
                            <span id="s3" class="s3 fa fa-star checked"></span>
                            <span id="s4" class="s4 fa fa-star"></span>
                            <span id="s5" class="s5 fa fa-star"></span>
                        </div>
                        <div *ngSwitchCase="4">
                            <span id="s1" class="s1 fa fa-star checked"></span>
                            <span id="s2" class="s2 fa fa-star checked"></span>
                            <span id="s3" class="s3 fa fa-star checked"></span>
                            <span id="s4" class="s4 fa fa-star checked"></span>
                            <span id="s5" class="s5 fa fa-star"></span>
                        </div>
                        <div *ngSwitchCase="5">
                            <span id="s1" class="s1 fa fa-star checked"></span>
                            <span id="s2" class="s2 fa fa-star checked"></span>
                            <span id="s3" class="s3 fa fa-star checked"></span>
                            <span id="s4" class="s4 fa fa-star checked"></span>
                            <span id="s5" class="s5 fa fa-star checked"></span>
                        </div>
                    </div>
                    <h5>{{p.name}}</h5>
                    <div class="product-price"> {{p.price | currency: 'LE'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="products.length ==0">
        <img class="empty" src="assets/img/empty.jpg">
        <br>
        <a [routerLink]="['/products/shop']" class="btn btn-primary " >Shop Now</a>

    </div>
</div>